// importar base
@import "base/reset";
@import "base/vars";
@import "base/fonts";
// importar componentes
@import "components/navbar";
@import "components/footer";
@import "components/buttons";
// importar layout
@import "layouts/index";
@import "layouts/contacto";
@import "layouts/talleres";
@import "layouts/sobreMi";
@import "layouts/portfolio";
@import "layouts/responsive";


.bg-amarillo {
    background-color: #F9F07A;
}

.bg-celeste {
    background-color: #B7C9F2;
}

.bg-azul {
    background-color: #9195F6;
}

.bg-rosa {
    background-color: #FB88B4;
}

.bg-gris {
    background-color: #515151;
}

.bg-gif {
    background-image: url("../images/bg-gif-low.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* --------------------- SUBTITULOS --------------------- */
.subtitulo h2 {
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #000;
    font-variant: small-caps;
    padding: 50px 0 0;
}

