/* --------------------- FOOTER --------------------- */

.derechos {
    @include texto (16px, center, bold, $color-primary);
    margin-top: 5%;

}

.footer {
    @include flex (column, center, center, 0);
}

.location {
    @include flex (row, center, center, 0);
    color:$color-primary;
}

.location p {
    margin: 0;
}


/* iconos */
.iconosFooter {
    color:$color-primary;
    font-size: 24px;
    text-decoration: none;
}
