header {
    position: sticky;
    top: 0;
    z-index: 5;
}

/* --------------------- NAVBAR --------------------- */

/* modifica el ancho de la barra */
.offcanvas {
    width: 250px !important;
}

.logo {
    @include flex (column, center, center, 0);
    text-decoration: none;

    img {
        @include imagen (250px, auto, contain, center);
        max-width: 250px;
    }

    h1 {
        @include texto (16px, center, 700, $color-dark);
        font-variant: small-caps;
        margin-top: -10px;
    }
}

.nav-item {
    color: $color-dark;
    font-variant: small-caps;
}

.navbarBox {
    @include flex (column, space-around, center, 0);
    width: 100%;
}