header {
    position: sticky;
    top: 0;
    z-index: 5;
}

/* --------------------- NAVBAR --------------------- */

/* modifica el ancho de la barra */
.offcanvas {
    width: 250px !important;
}

.logo {
    @include flex (column, center, center, 0);
    text-decoration: none;

    img {
        @include imagen (250px, auto, contain, center);
        max-width: 250px;
    }

    h1 {
        @include texto (16px, center, 700, $color-dark);
        font-variant: small-caps;
        margin-top: -10px;
    }
}

.nav-link.active {
    font-weight: 800;
}

.nav-item {
    @include texto (22px, center, 600, 0);
    font-variant: small-caps;
}

.nav-link {
    border-radius: 10px;
    transition: 0.5s;

    &:hover {
        transition: ease-in-out 0.3s;
        padding-top: 4px;
        padding-bottom: 8px;
        background-image: linear-gradient(to top, $color-primaryDark, transparent);
    }
}

.navbarBox {
    @include flex (column, space-around, center, 0);
    width: 100%;
}