@mixin flex($direction, $justify, $align, $gap) {

    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;

}

@mixin texto($size, $align, $grosor, $color) {

    font-size: $size;
    text-align: $align;
    font-weight: $grosor;
    color: $color;

}

@mixin imagen($width, $height, $fit, $position) {
   
    width: $width;
    height: $height;
    object-fit: $fit;
    object-position: $position;
}
