// VARIABLES DE COLORES
$color-primary: #F9F07A;
$color-primaryDark: #f3d702;
$color-secondary: #FB88B4;
$color-tertiary: #9195F6;
$color-quaternary: #B7C9F2;
$color-light: #FFFFFF;
$color-midDark: #515151;
$color-dark: #000000;
$color-bgDark: #00000080;


.bg-yellow {
    background-color: $color-primary;
}

.bg-pink {
    background-color: $color-secondary;
}

.bg-blue {
    background-color: $color-tertiary;
}

.bg-ligthblue {
    background-color: $color-quaternary;
}

.bg-grey {
    background-color: $color-midDark;
}