// VARIABLES DE COLORES
$color-primary: #F9F07A;
$color-primaryDark: #f3d702;
$color-secondary: #FB88B4;
$color-tertiary: #9195F6;
$color-quaternary: #B7C9F2;
$color-light: #FFFFFF;
$color-midDark: #515151;
$color-dark:#000000;
$color-fondoDark:#00000080;


.bg-amarillo {
    background-color: $color-primary;
}

.bg-rosa {
    background-color: $color-secondary;
}

.bg-azul {
    background-color: $color-tertiary;
}

.bg-celeste {
    background-color: $color-quaternary;
}

.bg-gris {
    background-color: $color-midDark;
}