/* --------------------- CONTACTO --------------------- */

/* Contenedor */

.conctactContainer {
    width: 100%;
    height: auto;
    @include flex (row, center, 0, 30px);
    flex-wrap: wrap;
    margin: 50px 0;
}

/* Formulario */

.formularioContact {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: $color-secondary;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    @include texto (16px, flex-start, bold, $color-dark);
}

input {

    &[type="text"],
    &[type="email"],
    &[type="tel"] {
        width: 100%;
        padding: 10px;
        border: 1px solid $color-midDark;
        border-radius: 4px;
        box-sizing: border-box;
        resize: none;
    }
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid $color-midDark;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

/* Botones */
.form-botones {
    text-align: right;
}

/* container Map & Links */

.contactBox {
    width: 100%;
    max-width: 500px;
}

/* botones de contacto */

.linksBox {
    @include flex (column, center, center, 30px);
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;

    a {
        @include flex (row, flex-start, center, 30px);
        text-decoration: none;
        color: $color-dark;
        width: 80%;
        padding: 10px 0;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

.instagram-button img,
.facebook-button img,
.whatsapp-button img {
    @include imagen (30px, 30px, contain, center);
    margin: 0px 10px;
}

.instagram-button p,
.facebook-button p,
.whatsapp-button p {
    margin: 0;
    @include texto (16px, center, bold, $color-dark);
}

.instagram-button {
    background-color: rgb(217, 71, 207);
}

.facebook-button {
    background-color: rgb(46, 103, 225);
}

.whatsapp-button {
    background-color: rgb(52, 197, 71);
}

.linksBox a:hover {
    width: 100%;
}