/* --------------------- CAROUSEL --------------------- */

/* tamaño de contenedor */

.carouselContainer {
    width: 100%;
    height: 70vh;
}


.carousel-caption {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        width: max-content;
        margin: 10px 0px 50px;
    }
}

.textoCarousel {
    h2 {
        font-size: 40px;
        font-weight: 900;
        color: $color-amarillo;
        text-shadow: $color-negro 0.1em 0.1em 0.2em;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        color: $color-negro;
    }

    .textoClaro {
        color: #FB88B4;
    }

}




/* ajuste de imagen al contenedor */

.carouselImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* --------------------- SERVICIOS CARDS --------------------- */

/*Estilo para el contenedor*/

.cardContainer {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    gap: 3vh;
}

/* Estilo para la tarjeta */

.homeCard {
    width: 280px;
    height: 480px;
    border: 1px solid #959595;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #B7C9F2;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    transition: transform 0.5s ease-in-out;

    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
}


.card-img-overlay {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #F9F07A;

    h2 {
        position: absolute;
        bottom: 200px;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-shadow: #000000 0.1em 0.1em 0.2em;
        transition: transform 0.5s ease-in-out;
    }

    p {
        position: absolute;
        color: $color-amarillo;
        background-color: $color-bgnegro;
        font-weight: 500;
        bottom: -20px;
        font-size: 16px;
        text-align: center;
        opacity: 0;
        transition: transform 0.5s ease-in-out;
    }
}

/* HOVER */

.homeCard:hover {
    .card-img-overlay {
        p {
            display: block;
            opacity: 1;
            transform: translateY(-20px);
            transition: transform 0.5s ease-in-out;
        }

        h2 {
            transform: translateY(-50px);
            transition: transform 0.5s ease-in-out;
        }
    }

    transform: scale(1.1);
    background-color: #FB88B4;
    transition: transform 0.5s ease-in-out;
}

/* --------------------- TESTIMONIOS --------------------- */

.testimonioBox {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonioContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 2vh;

    img {
        width: 100%;
        max-width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 5%;
    }

    p {
        text-align: center;
        font-size: 18px;
        color: #000;
    }

    h3 {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #000;
    }
}