/* --------------------- CAROUSEL --------------------- */

/* tamaño de contenedor */
.carouselContainer {
    width: 100%;
    height: 75vh;
}

// modifico distacia de flechas indicadoras
.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

.carousel-caption {
    @include flex (column, 0, 0, 10px);

    a {
        width: max-content;
        margin: 10px 0px 50px;
    }
}

.textoCarousel {
    h2 {
        @include texto (40px, 0, 900, $color-primary);
        text-shadow: $color-dark 0.1em 0.1em 0.2em;
    }

    p {
        @include texto (18px, 0, 500, $color-dark);
    }

    .textoClaro {
        color: $color-secondary;
    }

}

/* ajuste de imagen al contenedor */
.carouselImg {
    @include imagen (100%, 100%, cover, center);
}


/* --------------------- SERVICIOS CARDS --------------------- */

/*Estilo para el contenedor*/
.cardContainer {
    @include flex (row, center, center, 3vh);
    padding: 100px 0;
}

/* Estilo para la tarjeta */
.homeCard {
    width: 280px;
    height: 480px;
    border: 1px solid $color-midDark;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: $color-quaternary;
    @include flex (column, 0, 0, 1vw);
    transition: transform 0.5s ease-in-out;

    img {
        @include imagen (100%, 100%, cover, center);
        border-radius: 8px;
    }
}


.card-img-overlay {
    @include flex (row, center, 0, 0);
    margin: 10px;

    h2 {
        position: absolute;
        bottom: 200px;
        @include texto (30px, center, 700, $color-primary);
        text-shadow: $color-dark 0.1em 0.1em 0.1em;
        transition: transform 0.5s ease-in-out;
    }

    p {
        position: absolute;
        background-color: $color-bgDark;
        @include texto (16px, center, 500, $color-primary);
        bottom: -20px;
        opacity: 0;
        transition: transform 0.5s ease-in-out;
    }
}

/* HOVER */
.homeCard:hover {
    .card-img-overlay {
        p {
            display: block;
            opacity: 1;
            transform: translateY(-20px);
            transition: transform 0.5s ease-in-out;
        }

        h2 {
            transform: translateY(-50px);
            transition: transform 0.5s ease-in-out;
        }
    }

    transform: scale(1.1);
    background-color: $color-secondary;
    transition: transform 0.5s ease-in-out;
}

/* --------------------- TESTIMONIOS --------------------- */


.testimonioContainer {
    padding-top: 50px;
}

.testimonioBox {
    height: 500px;
    @include flex (row, center, center, 0);
}

.cardTestimonio {
    box-shadow: $color-midDark 2px 2px 8px;
    border-radius: 8px;
}

.testimonioContent {
    @include flex (row, center, center, 2vh);
    height: 300px;
    padding: 20px 50px;

    img {
        @include imagen (100%, 250px, cover, center);
        max-width: 250px;
        border-radius: 5%;
    }

    p {
        @include texto (18px, center, 500, $color-dark);
    }

    h3 {
        @include texto (24px, center, 600, $color-dark);
    }
}