/* --------------------- CAROUSEL --------------------- */

/* tamaño de contenedor */

.carouselContainer {
    width: 100%;
    height: 70vh;
}


.carousel-caption {
    @include flex (column, 0, 0, 10px);

    a {
        width: max-content;
        margin: 10px 0px 50px;
    }
}

.textoCarousel {
    h2 {
        @include texto (40px, 0, 900, $color-amarillo);
        text-shadow: $color-negro 0.1em 0.1em 0.2em;
    }

    p {
        @include texto (18px, 0, 500, $color-negro);
    }

    .textoClaro {
        color: #FB88B4;
    }

}




/* ajuste de imagen al contenedor */

.carouselImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* --------------------- SERVICIOS CARDS --------------------- */

/*Estilo para el contenedor*/

.cardContainer {
    @include flex (row, center, center, 3vh);
    padding: 100px 0;
}

/* Estilo para la tarjeta */

.homeCard {
    width: 280px;
    height: 480px;
    border: 1px solid #959595;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #B7C9F2;
    @include flex (column, 0, 0, 1vw);
    transition: transform 0.5s ease-in-out;

    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
}


.card-img-overlay {
    @include flex (row, center, 0, 0);
    margin: 10px;

    h2 {
        position: absolute;
        bottom: 200px;
        @include texto (30px, center, 700, $color-amarillo);
        text-shadow: #000000 0.1em 0.1em 0.2em;
        transition: transform 0.5s ease-in-out;
    }

    p {
        position: absolute;
        background-color: $color-bgnegro;
        @include texto (16px, center, 500, $color-amarillo);
        bottom: -20px;
        opacity: 0;
        transition: transform 0.5s ease-in-out;
    }
}

/* HOVER */

.homeCard:hover {
    .card-img-overlay {
        p {
            display: block;
            opacity: 1;
            transform: translateY(-20px);
            transition: transform 0.5s ease-in-out;
        }

        h2 {
            transform: translateY(-50px);
            transition: transform 0.5s ease-in-out;
        }
    }

    transform: scale(1.1);
    background-color: #FB88B4;
    transition: transform 0.5s ease-in-out;
}

/* --------------------- TESTIMONIOS --------------------- */

.testimonioBox {
    height: 500px;
    @include flex (row, center, center, 0);
}

.testimonioContent {
    @include flex (row, center, center, 2vh);
    padding: 20px;

    img {
        width: 100%;
        max-width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 5%;
    }

    p {
        @include texto (18px, center, 500, $color-negro);
    }

    h3 {
        @include texto (24px, center, 600, $color-negro);
    }
}