/* --------------------- RESPONSIVE --------------------- */

@media (max-width: 992px) {
  /* cambio en organizacion de las CARD en Sobre Mi */

  .sobremiBox {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .sobremiImg {
    img {
      height: 100%;
    }
  }


  .sobremiContent {
    h3 {
      font-size: 30px;
      padding: 10px;
    }

    p {
      font-size: 16px;
    }
  }

  /* cambio en carousel */
  .carousel-caption {
    margin: 0;
    bottom: 8%;
    gap: 0;

    a {
      width: max-content;
      margin: 0;
    }
  }

  .textoCarousel {
    justify-self: center;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .carouselImg {
    object-position: left;
  }

}

@media (max-width: 840px) {

  /* cambio en organizacion de las CARDS en Home*/
  .cardContainer {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {

  // cambio en el navbar
  .navbarBox {
    flex-direction: row;
  }

  /* cambio en el footer */
  .footerContent {
    flex-direction: column;
  }

  /* cambio en testimonio card */

  .testimonioBox {
    height: 750px;
  }

  .testimonioContent {
    flex-direction: column;

    img {
      height: 200px;
      align-self: center;
      border-radius: 100%;
    }
  }

  /* cambio en el tamaño de las imagenes del PORTFOLIO */

  .wide {
    grid-column: span 1;
  }

  .large {
    grid-column: span 1;
    grid-row: span 1;
    height: 50vh;
  }

  // cambio en cards de TALLERES
  .talleresContent {
    flex-direction: column;
  }

  .cardTalleres {
    width: 80%;
  }
}

@media (max-width: 425px) {

  // cambio en el navbar
  .logo {
    width: 80%;
  }
}