/* --------------------- RESPONSIVE --------------------- */

/* -----------breakpoint 992px----------- */

@media (max-width: 992px) {

  /* cambio en organizacion de las CARD en Sobre Mi */
  .sobremiBox {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .sobremiImg {
    img {
      height: 100%;
    }
  }

  .sobremiContent {
    h3 {
      font-size: 30px;
      padding: 10px;
    }

    p {
      font-size: 16px;
    }
  }

  /* cambio en carousel del index */
  .carousel-caption {
    margin: 0;
    bottom: 8%;
    gap: 0;

    a {
      width: max-content;
      margin: 0;
    }
  }

  .textoCarousel {
    justify-self: center;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .carouselImg {
    object-position: left;
  }

}


/* -----------breakpoint 840px----------- */
@media (max-width: 840px) {

  /* cambio en organizacion de las CARDS en Home*/
  .cardContainer {
    flex-wrap: wrap;
  }
}

/* -----------breakpoint 767px----------- */
@media (max-width: 767px) {

  // cambio en el botón flotante de whatsapp 
  .btn-whatsapp img {
    width: 60px;
  }

  // cambio en el navbar
  .navbarBox {
    flex-direction: row;
  }


  /* cambio en testimonio card */
  .testimonioBox {
    height: 750px;
  }

  .testimonioContent {
    flex-direction: column;
    padding: 10px;
    height: 50%;

    img {
      height: 250px;
      align-self: center;
      border-radius: 100%;
    }
  }

  /* cambio en el tamaño de las imagenes del PORTFOLIO */
  .wide {
    grid-column: span 1;
  }

  .large {
    grid-column: span 1;
    grid-row: span 1;
    height: 50vh;
  }

  // cambio en cards de TALLERES
  .talleresContent {
    flex-direction: column;
  }

  .cardTalleres {
    width: 90%;
  }

  // cambio en subtitulos
  .subtitle h2 {
    font-size: 56px;
  }

  // cambio en Contacto (botones a links)
  .linksBox {
    p {
      font-size: 16px;
    }

    a {
      width: 85%;
      gap: 0;
    }
  }
}

/* -----------breakpoint 425px----------- */
@media (max-width: 425px) {

  // cambio en el navbar
  .logo {
    width: 80%;
  }

}