/* --------------------- SOBRE MI --------------------- */

.sobremiBox {
  @include flex (row, center, center, 50px);
  border-radius: 20px;
  margin: 50px 0;
  padding: 50px;

}

.sobremiImg {
  @include flex (column, center, center, 30px);

  img {
    @include imagen (100%, 80vh, cover, center);
    border-radius: 20px;
  }
}

.sobremiContent {

  h2 {
    @include texto (40px, center, bold, $color-negro);
    text-decoration: none;
    font-variant: small-caps;
    padding: 20px 0 20px;
  }

  p {
    @include texto (18px, justify, normal, $color-negro);
  }
}