/* --------------------- SOBRE MI --------------------- */
.sobremiBox {
  @include flex (row, center, center, 30px);
  border-radius: 20px;
  margin: 50px 0;
  padding: 50px;
}

.sobremiImg {
  @include flex (column, center, center, 30px);

  img {
    @include imagen (100%, 80vh, cover, center);
    border-radius: 20px;
  }
}

.sobremiContent {
  p {
    @include texto (18px, justify, normal, $color-dark);
    padding-top: 20px;
  }
}