/* --------------------- TALLERES --------------------- */


.talleresContainer {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}


.talleresContent {
    @include flex (row, center, center, 0);
    margin: 100px 0 100px;
}

.cardTalleres {
    @include flex (column, space-around, center, 20px);
    width: 500px;
    height: auto;  
    color: $color-primary;
    background-color: $color-fondoDark;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;

    h2 {
        @include texto(40px, center, bold, $color-primary);
        font-variant: small-caps;
        margin-bottom: 10px;
    }

    h3{
        @include texto(20px, center, bold, $color-secondary);
    }

    p {
        @include texto(18px, justify, normal, $color-primary);
    }

    ul{
        @include texto(18px, left, normal, $color-primary);
        font-variant: small-caps;
    }

    &:hover {
        transform: scale(1.1);
    }
}